@using Microsoft.Extensions.Configuration;
@inject IConfiguration configuration; 
@using WebUI.Models.Components
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin DashBoard";
    ViewBag.Title = "Instructors";

    var apiBaseUrl = configuration.GetValue<string>("ApiBaseUrl");
    var instructorData = apiBaseUrl + "/" + "api" + "/" + "Instructor" + "/" + "GetAllInstructors" + "/" + "data";
    // initialize datatable
    const string datatableId = "instructorsDataTable";
    var dataLoadUrl = instructorData;
    var columns = new List<DatatableComponentModelColumn>
    {
        new DatatableComponentModelColumn
        {
            FieldName = "id",
            Title = "#",
            IsSortable = false,
            Width = 20,
            Type = "number",
            CssClass = "kt-checkbox--solid",
            TextAlign = "center"
        },
        new DatatableComponentModelColumn
        {
            FieldName = "firstName",
            Title = "FirstName"
        },
        new DatatableComponentModelColumn
        {
            FieldName = "lastName",
            Title = "LastName"
        },
        new DatatableComponentModelColumn
        {
            FieldName = "actions",
            Title = "Actions",
            IsSortable = false,
            Width = 100,
            ShouldAutoHide = false,
            Template = @"return '\
                                <input type=""hidden"" value=' +
                            row.courses +
                            ' />\
                                <a href=""/religions/edit/' +
                            row.id +
                            '"" class=""btn btn-sm btn-clean btn-icon btn-icon-md"" title=""Review"">\
                                    <i class=""la la-edit""></i>\
                                </a>\
                            ';"
        }
    };
}
<!-- begin:: Content -->
<div class="kt-container  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-success flaticon2-open-text-book"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Instructors
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <a asp-action="AddInstructor" class="btn btn-clean btn-icon-sm">
                        <i class="la la-plus"></i>
                        Add Instructor
                    </a>
                    &nbsp;
                </div>
            </div>
        </div>

        <vc:datatable datatable-id="@datatableId"
                      url="@dataLoadUrl"
                      columns="@columns"
                      action-controls="@null"
                      filter-controls="@null"
                      page-size="10"
                      server-filtering="true"
                      server-sorting="false"
                      server-paging="true"
                      filter-placeholder="Instructor FirstName"></vc:datatable>
    </div>
</div>

<!-- end:: Content -->
  